@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.teams{
    margin-top: -1px;
}

.carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Prata', serif;
    font-weight: 500;

}
.teams .title{
    font-size: 33px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
}

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    margin: 15px;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.teams .max-width{
    background: linear-gradient(#493272,#7597de);
}
@media (max-width: 520px) {

    .teams .title{
        font-size: 25px;
        padding-bottom: 0px;
    }
    .teams .carousel .card{
        margin-bottom: 15px;
    }    
}