@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.about {

    background: #1c0522;
}


div .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 55px;
    padding-top: 30px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;

}

.about .about-content .left {
    width: 35%;
}

.about .about-content .left img {
    height: 367px;
    width: 367px;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 1% 37% 63% 99% ;
    margin-bottom: 25px;
    margin-left: 28px;
}

.about .about-content .left img:hover{
   
  
        border: 2px;
        background: #f09;
        background-image: linear-gradient(
    45deg, #3023AE 0%, #f09 100%);
        border-radius: 30% 70% 70% 30% / 1% 37% 63% 99% ;
    
    
}
.about .about-content .right {
    width: 63%;
}

.about .about-content .right .text {
    font-size: 27px;
    margin-top: -72px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin-bottom: 28px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
    font-size: 1.8em;
    margin-right: 20px;
    line-height: 3em;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.about .about-content .right a {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    outline: none;
    display: inline-block;
    background-color: var(--btn-color);
    font-family: 'Prata', serif;
    color: var(--glow-color);
    font-size: 17px;
    font-weight: 400;
    padding: 6px 7px;
    margin-top: 20px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--glow-color);

}


.about .about-content .right a:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}


@media (max-width: 947px) {
    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }
    
}
@media(max-width:1067px){
    div .title{
      margin-bottom: 95px;
    }
    .about .about-content .right .text,.about .about-content .right p{
        padding-left: 90px;
    }
    .about .about-content .right a{
        margin-left: 90px;
    }
}

@media (max-width: 520px) {

    div .title {
        font-size: 28px;
    }

    .about .about-content .left img {
        height: 310px;
        width: 326px;
        object-fit: cover;
        margin-left: -6px;
        padding: 20px;
    }
   
    .about .about-content .right .text {
        margin-top: 9px;
        font-size: 24px;
        margin-bottom: 51px;
        padding-left: 0px;
        line-height: 42px;
    }

    .about .about-content .right p {
        text-align: center;
        font-size: 1.8em;
        margin-right: 20px;
        font-family: 'Prata', serif;
        color: white;
        letter-spacing: 2px;
        margin-bottom: 83px;
        padding-left: 0px;
      
        
    }

 

}