@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.education{
     background: #1c0522;
     margin-top: -1px;
     
}


.education-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
    padding-top: 80px;
    letter-spacing: 1px;
    padding-bottom: 60px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
  

}

.vertical-timeline-element-content {
    font-family: 'Prata', serif;
    letter-spacing: 2px;
font-size: 1.5rem;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25); 
padding: 2em 3em ;


}

.vertical-timeline-element-content{
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    background-color: var(--btn-color);
    color: var(--glow-color);
  


}
.vertical-timeline-element-content p {
    margin: 1em 0 0;
    line-height: 1.6;
    font-size: 1em;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: 0.8em 0;
    opacity: .7;
    font-size: 1em;
}

.vertical-timeline-element-content:hover{
background-color: var(--glow-color);
box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    color: black;
}
.vertical-timeline-element-date:hover{
    color: white;
}
.vertical-timeline-element-icon:hover{
    padding: 25px;
}
.skills{
    margin-top: -1px;
}
.skills .title{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 100px;
    padding-bottom: 70px;
    font-family: 'Fredoka One' cursive;
}
.skills{
    background: linear-gradient(#1c0522,#4b3474);
}
.skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 20px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 35px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 40%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 75%;
}

@media (max-width: 520px) {
    .education-heading{
        font-size: 25px;
    }
    .vertical-timeline{
        width: 85%;
    }
    .skills .title{
        font-size: 25px;
        padding-bottom: 10px;
    }
    .skills-content{
        padding-left:0px ;
        padding-right: 0px;
    }
    .skills .skills-content .column {
        width: calc(56% - -96px);}
}